#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$kK7F0xUXn3U.hyGR$54DDORd1axsSZOtb3XUvCeWE3vuhqPZB5lTijCRlHIqZOhjScBJg9caNgJhZZwRAwho3STAkY0yLzaViEcVpb.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc --nontp
user --name=user1 --password=$6$U4gU/AWts0KxH/t3$kYfKPe0XbQWbEOaNoRc.9lZuDKkzXr3a70ZWZ6AG1BKA2k1dInx72sTLgr72M1YC5p/Hwwvw3Z61J4FZMZ5RS. --iscrypted --gecos="user1"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
